.App {
  text-align: center;
}
.coinNameHolder {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
nav > a {
  color:ghostWhite;
}
td {
  font-size: 14px;
  font-weight: 500;
}
th {
  font-size: 12px;
  font-weight: bold;
}

.cryptoSymbolSpan {
  font-size: 13px;
  color:grey;
  font-weight: 600;
}

.jumbo {
  height: 150px;
  margin-bottom: 0px;
}
.jumbotron {
    margin-bottom: 0px;
 }

.cryptoNameSpan {

width:100px;
margin:0 5px;
font-weight: 500;
}
.favoriteStarHolder {
width:40px;
}

.favoriteStarHolder img {
margin-left: 5px;
}

table {
  text-align: left;
}

.red {
  color:red;
}

.green {
  color:green;
}
.rightaligners {
  text-align: right;
}
