.App {
  text-align: center;
}
.coinNameHolder {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

td {
  font-size: 15px;
}

.cryptoSymbolSpan {
  font-size: 13px;
  color:grey;
  font-weight: 600;
}



.cryptoNameSpan {

width:100px;
margin:0 5px;
font-weight: 500;
}
.favoriteStarHolder {
width:40px;
}

.favoriteStarHolder img {
margin-left: 5px;
}

table {
  text-align: left;
}


.red {
  color:red;
}

.green {
  color:green;
}
